.main-container {
    background-color: #5cdb95 !important;
}

.header-text {
    margin-top: 20px !important;
    border: 1px solid #ccc!important;
    border-radius: 4px;
    padding: 10px;
}

.card-title {
    color: #EDF5E1 !important;
}
.details-button {
    color: #EDF5E1 !important;
}

.details-button:active {
    color: rgb(204, 216, 187) !important;
}