.main-container {
    background-color: #5cdb95 !important;
}

.header-text {
    margin-top: 20px !important;
    border: 1px solid #ccc!important;
    border-radius: 4px;
    padding: 10px;
}

.card-title {
    color: #EDF5E1 !important;
}
.details-button {
    color: #EDF5E1 !important;
}

.details-button:active {
    color: rgb(204, 216, 187) !important;
}

.cardMedia {
    height: 0;
    padding-top: '56.25%';
  margin-top:'30'
}

.card2 {
    width: 15%;
    height: 300px;
    background-color: brown;
}

.search-nav {
    display: flex;
    justify-content: center;
}