.main-container {
    background-color: #5cdb95 !important;
    height: 100%;
}


.MuiPaper-root, MuiCard-root, makeStyles-card-7, MuiPaper-elevation1, MuiPaper-rounded {
    background-color: #05386b !important;

}

.MuiCardMedia-root, makeStyles-cardMedia-5, MuiCardMedia-media, MuiCardMedia-img {
    max-height: 200px;
    max-width: 500px;
    padding-top: 0px !important;
}

.card-body {
    margin-top: 10px !important;
}


.MuiCardMedia-img {
    padding-top: 0px !important;

}