.input-area {
    padding: 10px;
}

.input-container {
    display: flex;
    flex-direction: row;
}

.label-area {
    color: black;
    margin-right: 10px;
}

textarea {
    -moz-appearance: textfield-multiline;
    -webkit-appearance: textarea;
    border: 1px solid gray;
    font: medium -moz-fixed;
    font: -webkit-small-control;
    height: 100px;
    overflow: auto;
    padding: 2px;
    resize: both;
    width: 200px;
    color: black;
}


.message {
    padding: 10px;
    font-size: large;
    color: green;
}