.nav-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.nav-button {
    margin: 10px !important;
    background-color: #05386b !important;
    color: white !important;
}